
 .MuiTypography-root {
  font-size: 4rem !important;
}

 .MuiTextField-root .MuiInputBase-input {
  font-size: 1.7rem !important;
}

 .MuiFormControlLabel-root .MuiTypography-root {
  font-size: 1.7rem !important;
}

.text-modal .MuiButton-root  {
  font-size: 1.7rem !important;
}
.MuiFormLabel-root  {
    font-size: 1.3rem !important;
}
