.cont-tab {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin: 40px 0  0 60px;
}
.cont-button {
    width: 200px;
}
.action{
    width: 40%;
    margin: 2px;
    background-color: var(--gray);
    border: none;
}
.btn-red{
    background-color: rgb(251, 65, 65);
    color: white;
    width: 20%;
}