.cont-tab {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80%;
  margin: 40px 0 0 60px;
}
.cont-tab-historial {
  margin: 90px 0 0 60px;
}

.MuiDataGrid-filterFormOperatorInput {
  display: none !important;
}
.MuiDataGrid-filterFormColumnInput {
  display: none !important;
}
.base-Popper-root {
  position: absolute !important;
  top: -135px !important;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #000000 !important;
  font-size: 15px !important;
}
