:root {
  --primario: #45a8a5;
  --black: #141414;
  --gray: #f5f5f5;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  zoom: 75%;
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.8rem;
  color: var(--black);
}
